html, body {
  height: 100%; /* Устанавливаем высоту для html и body */
  margin: 0; /* Убираем отступы по умолчанию */
  display: flex; /* Используем Flexbox */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  background-color: #3B2E84; /* Цвет фона */
}

.allObjects {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: center; /* Центрируем элементы по горизонтали */
  margin-bottom: 50px;
}
.stylingFuns{
  margin-left: 20px;
}
.upgradeBtn{
    background-color: #46ef98;
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.upgradeBtn:active{
  background-color: #46ef70;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.multiClickSystem {
  position: absolute;
  right: 0; /* Привязка к правому краю */
  top: 0; /* Привязка к верхнему краю */
  padding: 10px; /* Отступы вокруг содержимого */
  border-radius: 5px; /* Закругленные углы */
}
.btnsForGame{
  margin-bottom: 10px;
}
.casinoGameStyle{
  position: absolute;
  margin-right: 90px;
  right: 0;
  /* top: 3; Привязка к верхнему краю */
  padding: 5px; /* Отступы вокруг содержимого */
  border-radius: 5px; /* Закругленные углы */
  border: 1px solid gray;
  padding-top: 0;
}
.myFuns {
  position: absolute; /* Используем абсолютное позиционирование */
  left: 0; /* Перемещаем блок в левую часть экрана */
  top: 0; /* Выравниваем его по верхнему краю */
  height: 100%; /* Растягиваем блок по вертикали */
  display: flex;
  flex-direction: column; /* Располагаем элементы внутри myFuns вертикально */
  justify-content: flex-start; /* Выравниваем элементы по верхнему краю */
  margin-right: 20px; /* Отступ справа для разделения с основным контентом */
}
.gitHubImage{
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.tgImage{
  height: 35px;
  width: 57px;
}
.icon {
  margin-left: 10px; /* Отступ между иконками */
  cursor: pointer; /* Указываем, что элементы кликабельны */
}
h1, h2, h3,p {
  color: rgb(220, 220, 220); /* Цвет текста заголовка */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Шрифт */
}
.bottomPanel {
  position: absolute; /* Используем абсолютное позиционирование */
  left: 30px; /* Отступ от левого края */
  bottom: 30px; /* Отступ от нижнего края */
  display: flex; /* Используем flexbox для горизонтального расположения */
  align-items: center; /* Центрируем иконки по вертикали */
}

.countStyle {
  color: rgb(220, 220, 220); /* Цвет текста */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Шрифт */
  font-size: 2rem; /* Увеличиваем размер шрифта для счетчика */
  margin: 20px 0; /* Отступы сверху и снизу */
}

.btnStyle {
  cursor: pointer;
  color: rgb(220, 220, 220); /* Цвет текста кнопки */
  background-color: #5A4EAB; /* Цвет фона кнопки */
  border: none; /* Убираем границу */
  padding: 10px 20px; /* Отступы внутри кнопки */
  border-radius: 5px; /* Скругление углов */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Шрифт */
  font-size: 1.5rem; /* Увеличиваем размер шрифта для кнопки */
}
.promocodeStyle{
  width: 190px;
  border-radius: 7.5px;
  border: 1px solid black;
  height: 26px;
  margin-bottom: 5px;
}
.checkPromoStyle{
  width: 195px;
  cursor: pointer;
  color: rgb(220, 220, 220); /* Цвет текста кнопки */
  background-color: #544b8b; /* Цвет фона кнопки */
  border: none; /* Убираем границу */
  padding: 10px 20px; /* Отступы внутри кнопки */
  border-radius: 5px; /* Скругление углов */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Шрифт */
}